* {
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
}

main {
    --bg-color-1: black;
    --bg-color-2: rgb(53, 53, 53);
    background-image: conic-gradient(
        var(--bg-color-1) 0deg 90deg,
        var(--bg-color-2) 90deg 180deg,
        var(--bg-color-1) 180deg 270deg,
        var(--bg-color-2) 270deg 360deg
    );
    background-size: 130px 130px;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    inset: 0px;
}

#title, #credit {
    width: max-content;
    background: linear-gradient(to bottom right, rgb(80, 80, 80), silver);
    background-clip: text;
    color: transparent;
}

#title {
    display: block;
    margin: 20px auto;
    text-decoration: underline;
    font-size: 2em;
}

#credit {
    position: absolute;
    inset: 0px;
    justify-self: right;
    margin: 20px 10px;
    font-size: 1.5em;
}

#panel-wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

#game-panel {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    box-shadow: inset 0px 0px 10px black;
    padding: 20px;
}

#info-panel {
    height: 450px;
    width: 380px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: inset 0px 0px 10px black;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: flex-start;
    justify-content: flex-start;
}

#info-panel > * {
    margin-left: 40px;
}


.slider-wrapper {
    display: flex;
    flex-direction: row;
    width: 220px;
    justify-content: space-between;
    gap: 20px;
}

a {
    color: cyan;
    text-decoration: wavy underline;
    width: max-content;
}

ul, ol {
    list-style-position: inside;
}

#scene-buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-content: center;
    justify-content: flex-start;
}

#scene-buttons button {
    aspect-ratio: 1 / 1;
    width: 33px;
    box-sizing: border-box;
}